storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.CSharp
nuget System.ValueTuple
nuget System.Reactive
nuget System.Interactive
nuget Newtonsoft.Json
nuget CommandLineParser

nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget Hangfire
nuget Hangfire.Core
nuget Dapper 2.0.30
nuget MySqlConnector 1.0.1

nuget Moq
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
